{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="wrapper">
        <h1><a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt="djangonautic"></a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'articles' %}">Articles</a></li>
                
                
                {% if user.is_authenticated %}
                <li><a href="{% url 'create' %}" class="highlight">Create</a></li>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                </li>
                
                {% else %}
                <li><a href="{% url 'accounts:login' %}">login</a></li>
                <li><a href="{% url 'accounts:signup' %}">signup</a></li>

                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </header>
    
</body>
</html>