{% extends 'base.html' %}
{% load static  %}

{% block content %}


<div class="articles">
    <h1>Articles</h1>
    {% for article in articles %}
    <div class="article">
        <h2><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>  - {{ article.date }}</h2>
        <p>{{ article.slug }}</p>
        <p>{{ article.content }}</p>
        <p>{{ article.date_published }}</p>
        
        <img class="img1" src="{{ article.thumb.url}}" alt="">
    </div>

    {% endfor %}
</div>
{% endblock %}